
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 32px;
    font-family: 'Noto Sans Khojki';
}

h2 {
    font-size: 24px;
    font-family: 'Noto Sans Khojki';
}

h3 {
    font-size: 18px;
    font-family: 'Noto Sans Khojki';
}

p {
    font-size: 15px;
    font-family: 'Ubuntu';
}
.bg{
    background-image:url(../assets/dashboard_bg.png);
    width: 100%; 
    height: 100%;
    object-position: center;
position: fixed;
}
.menu .logoonly{
    background-image:url(../assets/Logo_only.png);

    background-size: cover;
    width: 3rem;
    height: 3rem; 

}
.menu .logowithword{
    background-image:url(../assets/Horizontal_Logo.png);

    background-size: contain; /* Adjusted */
    background-repeat: no-repeat; /* Ensures the background doesn't repeat */
    background-position: center; /* Centers the background image */
    width: 20rem;
    height: 1.5rem;
    margin: 15px;


}

.menu .profilecircle-div {
    width: 3rem; /* Corresponds to w-12 */
    height: 3rem; /* Corresponds to h-12 */
    margin: 0.5rem; /* Corresponds to m-2 */
    background-color: #3b82f6; /* Corresponds to bg-blue-500 */
    border-radius: 50%; /* Corresponds to rounded-full */
}
.menu .iconcircle-span {
    display: inline-block; /* Ensures the span behaves like a block element */
    width: 1.75rem; /* Corresponds to w-7 */
    height: 1.75rem; /* Corresponds to h-7 */
    background-color: #3b82f6; /* Corresponds to bg-blue-500 */
    border-radius: 50%; /* Corresponds to rounded-full */
}

.menu .lines {
        width: 30px;
        min-height: 1px; /* Ensure the line has some height */
        background-color: rgb(239, 239, 239);
        margin: 25px;
        margin-bottom: 10px;
        font-family: 'Ubuntu';

        
       
  }

  .menu .username {
    font-size: 16px;
    font-family: 'Ubuntu';
    margin-bottom: 2px;
   

}
.menu .username2 {
    justify-content: center; /* Horizontally center the content */
  align-items: center; 
    font-size: 13px;
    margin-right: 2px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Ubuntu';
    height: 20px; /* Adjust height as needed */
    background-image: linear-gradient(to right, hwb(264 44% 32%), #2525b9); /* Define the gradient */
    border-radius: 15px;
   

}

.menu .username3 {
    font-size: 13px;
    margin-left: 2px;
    font-family: 'Ubuntu';
  

}
.menu {
    background-color: rgba(128, 128, 128, 0.1);
    padding: 10px;
    justify-content: center;
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: auto; 
    position: relative;
    max-width: 15rem;
    min-width: 5rem;
    padding-right: 20px;
}

.menu::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .menu::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Border radius of the scrollbar thumb */
  }
  
  .menu::-webkit-scrollbar-thumb:hover {
    display: none;/* Color of the scrollbar thumb on hover */
  }

  
  .menu::-webkit-scrollbar-thumb:horizontal {
    display: none;
}

.menu .menuone {
    background-color: rgba(0, 0, 0, 0.201);
    }

    .search {
        display: flex; /* Use Flexbox */
        flex-wrap: wrap;
        justify-content: flex-end; /* Align items to the end (right side) */
        margin-top: 10px;
        margin-right: 10px;
        margin-right: 10px;

    }

.searchbar {
    min-width: 10%;
    max-width: 100%;
  }


  /* Responsive Classes */
  @media screen and (max-width: 768px) {
    .searchbar {
      max-width: 60px; /* Adjust the min-width for smaller screens */
    }
    .menu {
     
        max-width: 15rem;
        min-width: max-content;
        position:relative; /* Change position to absolute */
        z-index: 10; 
    }
    .title{
        padding-top: 50px;
        
        margin-bottom: 50px;
    }
    .search{
        padding-bottom: 20px;
    }
    
  }
  
  .title{
    display: absolute; 
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 0; /* Adjust top position as needed */
    
;  }