body,
html {
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 32px;
    font-family: 'Noto Sans Khojki';
}

h2 {
    font-size: 24px;
    font-family: 'Noto Sans Khojki';
}

h3 {
    font-size: 18px;
    font-family: 'Noto Sans Khojki';
}

p {
    font-size: 16px;
    font-family: 'Ubuntu';
}

.duitkraft {
    // background-image: url('../assets/bg1.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // padding: 12px;
    .bg1 {
        height: 100%;
        width: 100%;
        object-position: center;
        position: fixed;
    }

    .title {
        font-size: 64px;
    }

    .subtitle {
        font-size: 36px;
    }

    .outerColumn {
        display: flex;
        position: absolute;
        top: 0;
        left: 48%;
        transform: translate(-50%, 18vh);
        margin: 0 20px;
        @media screen and (width<768px) {
            top: -15%;
            left: 45%;
            // height: 450px;
        }

        .container1 {
            background-color: rgb(128, 128, 128, 0.1);
            width: 480px;
            height: 480px;
            border-radius: 15px;
            @media screen and (width<768px) {
                width: 360px;
                height: fit-content;
                &:first-child{
                    border-radius: 0 0 15px 15px;
                    padding: 0 3.5rem;
                    h2, p{
                        position: relative;
                        top: -10%;
                    }
                    
                    .login-box{
                        position: relative;
                        top: -15%;
                        .signUp{
                            margin-bottom: 30px;
                        }
                    }
                }
    
                &:last-child{
                    border-radius: 15px 15px 0 0;
                    padding-bottom: 0;
                    min-height: 0;
                    padding-top: 0;

                    img{
                        margin-top: 30px;
                    }
                }
            }
            // .form-control {
            //     position: relative;
            //     margin: 20px 0 40px;
            //     width: 370px;

            //     input {
            //         background-color: transparent;
            //         border-bottom: 2px #fff solid;
            //         display: block;
            //         width: 100%;
            //         padding: 15px 0;
            //         font-size: 18px;
            //         color: #fff;
            //     }

            //     label {
            //         position: absolute;
            //         top: 30px;
            //         left: 0;
            //         pointer-events: none;

            //         span {
            //             display: inline-block;
            //             font-size: 18px;
            //             min-width: 5px;
            //             color: #fff;
            //             transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            //         }
            //     }

            //     input:focus,
            //     input:valid {
            //         outline: 0;
            //         border-bottom-color: lightblue;

            //     }

            //     input:focus+label span,
            //     input:focus+label span {
            //         color: lightblue;
            //         transform: translateY(-30px);

            //     }
            // }
            .login-box {
                position: relative;
                max-width: 370px;
                padding-top: 30px;

                @media screen and (width<768px) {
                    padding-top: 20px;
                }

                .user-box {
                    position: relative;

                    input {
                        width: 100%;
                        padding: 10px 0;
                        font-size: 16px;
                        color: #fff;
                        margin-bottom: 30px;
                        border: none;
                        border-bottom: 1px solid #fff;
                        outline: none;
                        background: transparent;

                        &:focus {
                            +label {
                                top: -20px;
                                font-size: 14px;
                                color: #bdb8b8;
                            }
                        }

                        @media screen and (width<768px) {
                            margin-bottom: 15px;
                        }
                    }

                    label {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 10px 0;
                        font-size: 16px;
                        color: #fff;
                        pointer-events: none;
                        transition: 0.5s;
                    }
                }

                .loginBtn {
                    background-color: #12497b;
                    border-radius: 30px;
                    display: flex;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 30%);

                    &:hover{
                        background-color: #3b5d7e;
                    }

                    p {
                        margin: 10px 30px;
                    }
                }
            }


        }
    }
}