body,
html {
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 32px;
    font-family: 'Noto Sans Khojki';
}

h2 {
    font-size: 22px;
    font-family: 'Noto Sans Khojki';
}

h3 {
    font-size: 18px;
    font-family: 'Noto Sans Khojki';
}

p {
    font-size: 16px;
    font-family: 'Ubuntu';
}

ul {
    font-size: 16px;
    font-family: 'Ubuntu';
    list-style-type: disc;
}

.titleFont {
    font-size: 64px;
}

.subtitleFont {
    font-size: 36px;
}
