.dashboardedu1 {
    background-color: rgba(128, 128, 128,0.1);
    padding: 10px;
    width: 95%;
height: max-content;    justify-content: center;
    font:white;
}

.dashboardedu2 {
    background-color: rgba(128, 128, 128,0.1);
    padding: 10px;
    width: 95%;
    max-height: 80%;
    justify-content: center;
    font:white;
    display: relative;
    overflow-y: auto; 
    overflow-y: auto; 


}
.sortby{
    background-color: rgba(50,42,42,0.3);
    font-size: 11px;
    font-weight: lighter;

}
.dashboardedu3 {
    background-color: rgba(128, 128, 128,0.1);
    width: 80%;    
    padding: 10px;
    height: 116%;
    justify-content: center;
    font:white;
    overflow-y: auto; 
    display: relative;

}
.CourseBar{
    background-color: rgba(0, 0, 0, 0.215)
}
.dashboard-container {
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    width:95%; /* Maximum width is 100% of the screen width minus the menu's minimum width */
    max-width: calc(100% - 1%); /* Maximum width is 100% of the screen width minus the menu's minimum width */
    min-width: calc(100% - 20%);
    height: 85vh; /* Ensure the dashboard container fills the screen height */
}

.dashboard-container2{
    width: 65%;     
 
    z-index: 5;
  
}

.dashboard-container3{
    width: 38%;    
     /* background-color: rgb(88, 93, 132); */
}
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  .mycourse::-webkit-scrollbar {
    display: none;
}
.dashboardedu3::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Border radius of the scrollbar thumb */
  }
  
::-webkit-scrollbar-thumb:hover {
    display: none;/* Color of the scrollbar thumb on hover */
  }

  
::-webkit-scrollbar-thumb:horizontal {
    display: none;
}
.difficult {
    background-color: rgba(38, 38, 38, 0.587);
    border-radius: 5px;
    text-align: center; /* Center the text horizontally */

    font-size: 10px;
    display: inline-block;
}

.continue {
    background-color: rgba(159,239,0);
    border-radius: 5px;
    /* text-align: center; Center the text horizontally */
    font-size: 10px;
    display: inline-block;


}

.viewmore {
    font-size: 10px;
    
    
}

.mycouse{
    overflow-x: scroll;
    overflow: auto;
}

.coursecat {
    background-color: rgba(38, 38, 38, 0.587);
    border-radius: 5px;
    text-align: center; /* Center the text horizontally */

    font-size: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
}
.courseblog {
    background-color: rgba(2,2,2,0.38);
}
.mySvg {
    fill: rgb(90, 202, 29);
    width: 50px;
    height: 50px;
  }
  
@media screen and (max-width: 768px) {

    .dashboardedu1 {
        background-color: rgba(128, 128, 128,0.1);
        width: 93%;
        height:max-content;
        justify-content: center;
        font:white;
    }
    
    .dashboardedu2 {
        background-color: rgba(128, 128, 128,0.1);
                width: 93%;
        justify-content: center;
        font:white;
        padding-bottom: 100;
    }
    .dashboardedu3 {
        background-color: rgba(128, 128, 128,0.1);
                width: 93%;    
        justify-content: center;
        font:white;
        
    
    }
    
 
    .dashboard-container{
        flex-wrap: wrap;
        overflow-y: auto;
        overflow-x: hidden;
        width: 90%;

    }
    
    
    .dashboard-container2{
        width: 100%;    
        padding: -10;

    }
    
    .dashboard-container3{
        width: 100%;     
        height: 120%;
        margin-top: -20px;
   
    }
    

}