.duitkraft .bg1 {
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
}
.duitkraft .title {
  font-size: 64px;
}
.duitkraft .subtitle {
  font-size: 36px;
}
.duitkraft .OuterColumnRegister {
  display: flex;
  position: absolute;
  top: 0;
  left: 48%;
  transform: translate(-50%, 3vh);
  margin: 0 20px;
}
@media screen and (width < 768px) {
  .duitkraft .OuterColumnRegister {
    top: -15%;
    left: 45%;
  }
}
.duitkraft .OuterColumnRegister .container2 {
  background-color: rgba(128, 128, 128, 0.1);
  width: 480px;
  height: 650px;
  border-radius: 15px;
}
@media screen and (width < 768px) {
  .duitkraft .OuterColumnRegister .container2 {
    width: 360px;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 0px;
  }
  .duitkraft .OuterColumnRegister .container2:first-child {
    border-radius: 0 0 15px 15px;
    padding: 0 3.5rem;
  }
  .duitkraft .OuterColumnRegister .container2:first-child h2,
  .duitkraft .OuterColumnRegister .container2:first-child p {
    position: relative;
    top: -10%;
  }
  .duitkraft .OuterColumnRegister .container2:first-child .register-box {
    position: relative;
    top: -15%;
  }
  .duitkraft .OuterColumnRegister .container2:last-child {
    border-radius: 15px 15px 0 0;
    padding-bottom: 0;
    min-height: 0;
    padding-top: 0;
    margin-top: 100px;
  }
  .duitkraft .OuterColumnRegister .container2:last-child img {
    margin-top: 30px;
  }
}
.duitkraft .OuterColumnRegister .container2 .register-box {
  position: relative;
  max-width: 370px;
  padding-top: 30px;
}
@media screen and (width < 768px) {
  .duitkraft .OuterColumnRegister .container2 .register-box {
    padding-top: 20px;
  }
}
.duitkraft .OuterColumnRegister .container2 .register-box .user-box {
  position: relative;
}
.duitkraft .OuterColumnRegister .container2 .register-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.duitkraft .OuterColumnRegister .container2 .register-box .user-box input:focus + label, .duitkraft .OuterColumnRegister .container2 .register-box .user-box input:valid + label {
  top: -20px;
  font-size: 14px;
  color: #bdb8b8;
}
@media screen and (width < 768px) {
  .duitkraft .OuterColumnRegister .container2 .register-box .user-box input {
    margin-bottom: 15px;
  }
}
.duitkraft .OuterColumnRegister .container2 .register-box .user-box .contact-number {
  top: -20px;
  font-size: 14px;
  color: #bdb8b8;
}
.duitkraft .OuterColumnRegister .container2 .register-box .user-box select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.duitkraft .OuterColumnRegister .container2 .register-box .user-box select:focus + label, .duitkraft .OuterColumnRegister .container2 .register-box .user-box select:valid + label {
  top: -20px;
  font-size: 14px;
  color: #bdb8b8;
}
@media screen and (width < 768px) {
  .duitkraft .OuterColumnRegister .container2 .register-box .user-box select {
    margin-bottom: 15px;
  }
}
.duitkraft .OuterColumnRegister .container2 .register-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 11px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.duitkraft .OuterColumnRegister .container2 .register-box .ui-checkbox {
  --primary-color: #12497b;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 3px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  --checkmark-size: 1.2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}
.duitkraft .OuterColumnRegister .container2 .register-box .ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}
.duitkraft .OuterColumnRegister .container2 .register-box .ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}
.duitkraft .OuterColumnRegister .container2 .register-box .ui-checkbox:hover {
  border-color: var(--primary-color);
}
.duitkraft .OuterColumnRegister .container2 .register-box .ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}
.duitkraft .OuterColumnRegister .container2 .register-box .ui-checkbox:checked::before {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
.duitkraft .OuterColumnRegister .container2 .register-box .ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}
.duitkraft .OuterColumnRegister .container2 .register-box .ui-checkbox,
.duitkraft .OuterColumnRegister .container2 .register-box .ui-checkbox *,
.duitkraft .OuterColumnRegister .container2 .register-box .ui-checkbox *::before,
.duitkraft .OuterColumnRegister .container2 .register-box .ui-checkbox *::after {
  box-sizing: border-box;
}
.duitkraft .OuterColumnRegister .container2 .register-box .registerBtn {
  background-color: #12497b;
  border-radius: 30px;
  display: flex;
  position: relative;
  left: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  bottom: 15px;
  transform: translate(-50%, 30%);
}
.duitkraft .OuterColumnRegister .container2 .register-box .registerBtn:hover {
  background-color: #3b5d7e;
}
.duitkraft .OuterColumnRegister .container2 .register-box .registerBtn p {
  margin: 10px 30px;
}/*# sourceMappingURL=register.css.map */